# Streamlit
streamlit==1.51.0

# Data manipulation
pandas==2.3.4  # Last version supporting Python 3.13
numpy==1.26.4  # Compatible with Python 3.13

# Optional: improve logging/console output
rich==14.2.0
markdown-it-py==4.0.0
pygments==2.19.2
mdurl==0.1.2
