# Streamlit for UI
streamlit==1.51.0

# Pandas for data handling
pandas==2.3.5

# NumPy compatible with Python 3.13
numpy==1.27.4

# Excel support
openpyxl

# Optional: improve exception logging
rich
